Repository cocov-ci/web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "yarn lint:fix"
  ],
  "*.{css,scss,sass}": [
    "stylelint --fix"
  ]
}

Implementing the authentication flow
  .env
  app/AuthContext.tsx
  app/auth/signin/page.tsx
  app/common/Header/index.tsx
  app/layout.tsx
  app/loading.tsx
  next.config.js
  package.json
  pages/api/auth/begin.ts
  pages/api/auth/exchange.ts
  pages/api/fetch.ts
  pages/api/repositories.ts
  pages/api/wrapPromise.ts
  services/api/fetch.ts
  services/api/users.ts
  services/auth.ts
  services/repositories.ts
  types/Auth.ts
  types/Repositories.ts
  types/User.ts
  yarn.lock
Due: yarn lint:fix

Update authentication flow
  .gitignore
  .lintstagedrc
  app/AuthContext.tsx
  app/auth/signin/GitHubButton/GitHubButton.module.scss
  app/auth/signin/GitHubButton/index.tsx
  app/auth/signin/Loading/index.tsx
  app/auth/signin/SignIn.module.scss
  app/auth/signin/page.tsx
  app/common/Box/Box.module.scss
  app/common/Box/index.tsx
  app/common/Button/Button.module.scss
  app/common/Button/index.tsx
  app/common/Header/Menu.tsx
  app/common/Header/index.tsx
  app/error/Error.module.scss
  app/error/index.tsx
  app/loading.tsx
  app/loading/Loading.module.scss
  app/loading/index.tsx
  app/page.tsx
  middleware.ts
  next.config.js
  package.json
  pages/api/auth/begin.ts
  pages/api/auth/exchange.ts
  pages/api/fetch.ts
  pages/api/repositories.ts
  pages/api/wrapPromise.ts
  services/auth.ts
  services/repositories.ts
  styles/variables.scss
  types/Auth.ts
  types/Repositories.ts
  utils/fetchClient.ts
  utils/fetchServer.ts
  yarn.lock
Due: yarn lint:fix, stylelint --fix

Update husky config
  .lintstagedrc
Due: none

Adding static version of empty repository page
  app/common/Header/Header.module.scss
  app/common/SearchField/SearchField.module.scss
  app/common/SearchField/index.tsx
  app/common/TopBar/TopBar.module.scss
  app/common/TopBar/index.tsx
  app/layout.tsx
  app/page.tsx
  app/repositories/Empty/Empty.module.scss
  app/repositories/Empty/index.tsx
  app/repositories/TopBarActions/TopBarActions.module.scss
  app/repositories/TopBarActions/index.tsx
  public/icons/repositories/arrow.svg
  styles/globals.scss
  utils/fetchServer.ts
Due: yarn lint:fix, stylelint --fix

Add Dockerfile
  Dockerfile
Due: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Add deploy step
  .github/workflows/docker-image.yml
Due: none

Update GitHub workflow
  .github/workflows/docker-image.yml
Due: none

Add empty repositories component
  .env
  app/auth/signin/GitHubButton/GitHubButton.module.scss
  app/auth/signin/page.tsx
  app/page.tsx
  app/repositories/Empty/Empty.module.scss
  app/repositories/page.tsx
  middleware.ts
  next.config.js
  package.json
  pages/api/auth/begin.ts
  pages/api/auth/exchange.ts
  pages/api/repositories.ts
  services/auth.ts
  utils/fetchServer.ts
  yarn.lock
Due: yarn lint:fix, stylelint --fix

Add logout redirection
  app/auth/signin/page.tsx
  middleware.ts
  pages/api/auth/begin.ts
  services/auth.ts
  utils/errorHandler.ts
  utils/fetchClient.ts
  utils/fetchServer.ts
Due: yarn lint:fix

Add LICENSE
  LICENSE
Due: none

Fix error response and update skeleton component
  app/auth/signin/page.tsx
  app/loading/index.tsx
  pages/api/auth/begin.ts
  pages/api/auth/exchange.ts
  utils/errorHandler.ts
  utils/fetchClient.ts
  utils/fetchServer.ts
Due: yarn lint:fix

Fix bundle error and update loading page styles
  app/auth/signin/GitHubButton/index.tsx
  app/auth/signin/loading.tsx
  app/auth/signin/page.tsx
  app/common/Loading/Loading.module.scss
  app/common/Loading/index.tsx
  app/common/TopBar/Loading.tsx
  app/repositories/loading.tsx
  pages/api/auth/begin.ts
  pages/api/auth/exchange.ts
  utils/fetchClient.ts
  utils/fetchServer.ts
Due: yarn lint:fix, stylelint --fix

Update Box component and create static list of repositories
  .lintstagedrc
  app/auth/signin/page.tsx
  app/common/Box/Box.module.scss
  app/common/Box/index.tsx
  app/common/Header/Header.module.scss
  app/common/Loading/index.tsx
  app/common/Text/Text.module.scss
  app/common/Text/index.tsx
  app/common/TopBar/TopBar.module.scss
  app/common/TopBar/index.tsx
  app/error/Error.module.scss
  app/error/index.tsx
  app/repositories/Empty/Empty.module.scss
  app/repositories/Repository/Loading.tsx
  app/repositories/Repository/Repository.module.scss
  app/repositories/Repository/index.tsx
  app/repositories/loading.tsx
  app/repositories/page.tsx
  styles/variables.scss
Due: yarn lint:fix, stylelint --fix

Update lintstaged file
  .lintstagedrc
Due: none

Draft version of pagination
  .lintstagedrc
  app/common/Pagination/Pagination.module.scss
  app/common/Pagination/index.tsx
  app/repositories/Repository/Repository.module.scss
  app/repositories/page.tsx
  styles/variables.scss
Due: yarn lint:fix, stylelint --fix

Draft version of pagination
  .lintstagedrc
Due: none

Draft version of pagination
  app/repositories/page.tsx
Due: yarn lint:fix

Pagination component static versin
  app/common/Pagination/Pagination.module.scss
  app/common/Pagination/index.tsx
Due: yarn lint:fix, stylelint --fix

Chart component
  app/common/Stats/Stats.module.scss
  app/common/Stats/Utils.tsx
  app/common/Stats/index.tsx
  app/repositories/Repository/Repository.module.scss
  app/repositories/Repository/index.tsx
  app/repositories/page.tsx
  package.json
  types/Repositories.ts
  types/Stats.ts
  yarn.lock
Due: yarn lint:fix, stylelint --fix

Fix repository card alignment
  app/repositories/Repository/Repository.module.scss
Due: stylelint --fix

Add NoResults and Alert components
  app/auth/signin/GitHubButton/index.tsx
  app/common/Alert/Alert.module.scss
  app/common/Alert/index.tsx
  app/common/Header/Menu.tsx
  app/common/Loading/index.tsx
  app/common/SearchField/SearchField.module.scss
  app/common/SearchField/index.tsx
  app/common/Text/index.tsx
  app/context/AuthContext.tsx
  app/layout.tsx
  app/repositories/Empty/Empty.module.scss
  app/repositories/Empty/index.tsx
  app/repositories/NoResults/index.tsx
  app/repositories/page.tsx
Due: yarn lint:fix, stylelint --fix

Setting up Jest and React testing library
  __tests__/__mocks__/fileMock.js
  __tests__/__mocks__/styleMock.js
  __tests__/common/Alert.test.tsx
  __tests__/common/__snapshots__/Alert.test.tsx.snap
  app/repositories/page.tsx
  jest.config.js
  package.json
  yarn.lock
Due: yarn lint:fix

Add Storybook example
  .storybook/main.js
  .storybook/preview-body.html
  .storybook/preview.js
  app/common/Alert/Alert.stories.tsx
  app/repositories/page.tsx
  package.json
  stories/Introduction.mdx
  stories/Introduction.stories.mdx
  yarn.lock
Due: yarn lint:fix

Update README file
  README.md
Due: none

Update Alert story
  app/common/Alert/Alert.stories.tsx
Due: yarn lint:fix

fix: Update stylelintrc to support scss
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

Writing tests for common components
  .storybook/preview-body.html
  __tests__/common/Alert.test.tsx
  __tests__/common/Box.test.tsx
  __tests__/common/Button.test.tsx
  __tests__/common/Header.test.tsx
  __tests__/common/Loading.test.tsx
  __tests__/common/Text.test.tsx
  __tests__/common/TopBar.test.tsx
  __tests__/common/__snapshots__/Alert.test.tsx.snap
  __tests__/common/__snapshots__/Box.test.tsx.snap
  __tests__/common/__snapshots__/Button.test.tsx.snap
  __tests__/common/__snapshots__/Header.test.tsx.snap
  __tests__/common/__snapshots__/Loading.test.tsx.snap
  __tests__/common/__snapshots__/Text.test.tsx.snap
  __tests__/common/__snapshots__/TopBar.test.tsx.snap
  app/auth/signin/page.tsx
Due: yarn lint:fix

fix(SearchField): Use tiny variant of Loading component
  app/common/SearchField/index.tsx
Due: yarn lint:fix

feat(SearchField): Add :focus style
  app/common/SearchField/SearchField.module.scss
  app/common/SearchField/SearchField.stories.tsx
  styles/variables.scss
Due: yarn lint:fix, stylelint --fix

fix(loading): Add tiny flag
  app/common/Loading/Loading.module.scss
  app/common/Loading/Loading.stories.tsx
  app/common/Loading/index.tsx
Due: yarn lint:fix, stylelint --fix

feat(button): Add variations and stories
  app/common/Button/Button.module.scss
  app/common/Button/Button.stories.tsx
  app/common/Button/index.tsx
  styles/variables.scss
Due: yarn lint:fix, stylelint --fix

feat(pagination): Augment styles, add stories
  app/common/Pagination/Pagination.module.scss
  app/common/Pagination/Pagination.stories.tsx
Due: yarn lint:fix, stylelint --fix

fix(button): Add missing disabled variations
  app/common/Button/Button.module.scss
  app/common/Button/Button.stories.tsx
  app/common/Button/index.tsx
Due: yarn lint:fix, stylelint --fix

Fix Pagination structure to avoid re-rendering arrows
  app/auth/signin/page.tsx
  app/common/Pagination/Pagination.module.scss
  app/common/Pagination/index.tsx
Due: yarn lint:fix, stylelint --fix

feat(stats): Update styles, add stories
  app/common/Stats/Stats.module.scss
  app/common/Stats/Stats.stories.tsx
  app/common/Stats/Utils.tsx
  app/common/Stats/index.tsx
  app/repositories/page.tsx
Due: yarn lint:fix, stylelint --fix

feat(topbar): Update styles, add stories
  app/common/TopBar/Loading.stories.tsx
  app/common/TopBar/Loading.tsx
  app/common/TopBar/TopBar.module.scss
  app/common/TopBar/TopBar.stories.tsx
Due: yarn lint:fix, stylelint --fix

feat(repository): Update styles, add stories
  app/repositories/Repository/Loading.stories.tsx
  app/repositories/Repository/Loading.tsx
  app/repositories/Repository/Repository.module.scss
  app/repositories/Repository/Repository.stories.tsx
Due: yarn lint:fix, stylelint --fix

feat(repository/variations): Update styles, add stories
  app/repositories/Empty/Empty.stories.ts
  app/repositories/Empty/index.tsx
  app/repositories/NoResults/NoResults.stories.ts
Due: yarn lint:fix

feat(PillNav): Implement Pill-based navigation control
  app/common/PillNav/PillNav.module.scss
  app/common/PillNav/PillNav.stories.tsx
  app/common/PillNav/index.tsx
  styles/variables.scss
Due: yarn lint:fix, stylelint --fix
